@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


/*  main view setup*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    min-width: 100%;
    position: relative;
}

body {
    font-family: roboto, sans-serif;
    font-size: 20px;
    color: #212529;
    background-color: #F7F7F7;
}

/* header footer */

.heading {
    text-align: center;
    margin: 12px 0;

}

.footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -300%;
    box-sizing: border-box;
    padding-top: 5px;
    text-align: center;
    color: #212529;
    background-color: white;

}

/* score area*/

.score-area {
    position: absolute;
    left: 50%;
    top: 10px;
    margin: 3px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
    text-align: center;
    font-size: 35px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;

    transform: translate(-50%, +50%);
    -o-transform: translate(-50%, +50%);
    -ms-transform: translate(-50%, +50%);
    -moz-transform: translate(-50%, +50%);
    -webkit-transform: translate(-50%, +50%);

}

#reset {
    font-size: 21px;
    grid-column: span 2;
    cursor: pointer;
}

#reset:hover {
    color: red;
}

/* control*/

.control {
    position: relative;
    left: 50%;
    top: 260px;
    display: inline-block;
    margin: 2px;
    text-align: center;
    background-color: white;
    border-radius: 15px;

    transform: translate(-50%, +50%);
    -o-transform: translate(-50%, +50%);
    -ms-transform: translate(-50%, +50%);
    -moz-transform: translate(-50%, +50%);
    -webkit-transform: translate(-50%, +50%);
}

/* buttom*/

.btn {
    font-size: 1.5rem;
    padding: 9px;
    margin: 6px;
    border-radius: 15px;
    transition: all 0.2s ease;
    cursor: pointer;
    background-color: green;
}

.btn:hover {
    color: red;
}

.btn #message {
    font-size: 25px;
}

.btn.desactivated {
    background-color: white;
    cursor: default;
}

.btn.active {
    background-color: white;
}

#next {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 20px;
    padding: 10px 30px;
    background-color: green;
    color: blue;
    border-radius: 15%;
    visibility: hidden;
    cursor: pointer;

    transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

#next.control {
    visibility: visible;
}

#message {
    font-size: 25px;
}


/* game area*/

.game-area {
    position: relative;
    top: 165px;
    padding: 12px;
    margin: 6px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    text-align: center;
}

.computer {
    background-color: white;
    width: 25%;
    padding: 9px;
    border-radius: 15px;
}

.player {
    background-color: white;
    width: 25%;
    padding: 9px;
    border-radius: 15px;
}

/*images Rock-Paper-Scissors */

.image-common {
    width: 400px;
    border-style: solid;
    border-width: 3px;
    margin-top: 100px;
}

.image-computer {
    position: absolute;
    top: 10px;
    left: 9%;
    border-color: blue;
}

.image-player {
    position: absolute;
    top: 10px;
    right: 9%;
    border-color: black;
}

/* image computer*/

.imagerps--crps {
    opacity: 1;
}

.imagepaper--cpaper,
.imagescissors--cscissors,
.imagerocks--crocks {
    opacity: 0;
}

/* image player*/

.imagerps--prps {
    opacity: 1;
}

.imagepaper--ppaper,
.imagescissors--pscissors,
.imagerocks--procks {
    opacity: 0;
}

/* ------------------------------- Media queries-------------------------------------- */

/* --------- Media queries (max-width: 1024px) */
@media (max-width: 1024px) {

    .control {
        top: 205px;
    }

    .game-area {
        top: 249px;

    }

    .image-common {
        width: 285px;

    }


}

/* --------- Media queries (max-width: 425px) */

@media (max-width: 425px) {

    .heading {
        font-size: 33px;
        margin-left: 15%;
    }

    .score-area {
        grid-template-columns: repeat(2, 150px);
    }

    .control {
        top: 200px;
    }

    #next {
        top: 83%
    }

    .game-area {
        top: 291px;
    }

    .computer {
        width: 50%;
    }

    .player {
        width: 50%;
    }

    .image-common {
        width: 178px;
        height: auto;
    }

    .image-computer {
        left: 4%;
    }

    .image-player {
        right: 4%;
    }

    .footer {
        width: 90%;
        left: 21px;
        bottom: -264%;
    }
}

/* --------- Media queries (max-width: 375px) */

@media (max-width: 375px) {
    .heading {
        margin-left: 3%;
    }

    .score-area {
        left: 50%;
        top: -25px;
    }

    .control {
        top: 151px;
        left: 50%;
    }

    #next {
        top: 90%
    }

    .game-area {
        top: 260px;
    }

    .image-common {
        width: 157px;
        height: auto;
    }

    .footer {
        bottom: -188%;
    }
}

/* --------- Media queries (max-width: 320px) */

@media (max-width: 320px) {

    .heading {
        margin-left: 17%;
    }

    .score-area {
        left: 62%;
        top: 2px;
    }

    .control {
        top: 135px;
        left: 62%;
    }

    #next {
        top: 88%;
        padding: 10px 21px;

    }

    .game-area {
        top: 249px;
    }

    .computer {
        width: 60%;
    }

    .player {
        width: 60%;
    }

    .image-player {
        right: -26%;
    }

    .footer {
        width: 117%;
        left: 12px;
        bottom: -172%;
    }
}