@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


/*  main view setup*/
html {
    min-width: 100%;
    position: relative;
}

body {
    font-family: roboto, sans-serif;
    font-size: 20px;
    color: #212529;
    background-color: #F7F7F7;
}

/* header footer */

header {
    text-align: center;
    height: 50px;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-height: 80px;
    padding-top: 5px;
    text-align: center;
    color: #212529;
    background-color: #F7F7F7;
}

/* game area*/

.game-area {
    width: 75%;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 1%;
    text-align: center;
}

.control {
    display: inline-block;
    margin: 2px;
    width: 80px;
    height: 40px;
}

.player {
    background-color: #212529;
    float: left;
    width: 45%;
}

#rpc {
    width: 75%;

}