@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


/*  main view setup*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    min-width: 100%;
    position: relative;
}

body {
    font-family: roboto, sans-serif;
    font-size: 20px;
    color: #212529;
    background-color: #F7F7F7;
}

/* header footer */

header {
    text-align: center;
    height: 100px;

}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-height: 80px;
    padding-top: 5px;
    text-align: center;
    color: #212529;
    background-color: white;
}


/* score area*/

.score-area {
    position: absolute;
    left: 25%;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
    text-align: center;
    font-size: 35px;
    background-color: white;
    padding: var(--btn-padding);
    border-radius: 15px;
}

/* control*/

.control {
    position: relative;
    left: 25%;
    top: 200px;
    width: 50%;
    height: 120px;
    display: inline-block;
    margin: 2px;
    text-align: center;
    background-color: white;
}

.bpapper {
    float: left;
}

.bscissors {
    float: auto;
}

.brocks {
    float: right;
}

/* game area*/

.game-area {
    width: 75%;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 1%;
    text-align: center;
}


.player {
    background-color: #212529;
    float: left;
    width: 45%;
}

#rpc {
    width: 75%;

}